<div>
    
    <form id="loginForm" class="LoginRegister">
        <div class="login-container">
            <h1 class="login-title">Login</h1>
            <form id="loginForm" class="login-form">
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-input">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-input">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
            <div class="login-links">
                <p>¿No estás registrado? <a href="/views/register">Regístrate aquí</a></p>
                <p>¿Olvidaste tu contraseña? <a href="/views/requestResetPassword">Restáurala aquí</a></p>
            </div>
            <div class="login-github">
             
                    <a href='/sessions/github' class="btn btn-secondary btn-github">
                        <span class="btn-github__icon"></span>
                        Entrar con GitHub
                    </a>
           
            </div>
        </div>

        
    </form>
</div>

<script src="/js/login.js"></script>
<link rel="stylesheet" href="/css/login.css">
