<h1>Productos en tiempo real: </h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Codigo</th>
      </tr>
    </thead>
        <tbody id="table">
    </tbody>
  </table>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/products.js"></script>

