<div class="LoginRegister">
    <h1>Recuperar la contraseña <br>Ingresa tu correo electrónico</h1>
    <form id="requestResetPasswordForm">
        <label>Correo electrónico</label>
        <input name="email"> 
        <button type="submit" >Enviar</button>
    </form>
</div>

<script src="/js/requestResetPassword.js"></script>
<link rel="stylesheet" href="/css/login.css">