<div class="LoginRegister">
    <h1>Recover Password <br>Enter your email</h1>
    <form id="requestResetPasswordForm">
        <label>Email</label>
        <input name="email"> 
        <button type="submit" >Send</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/requestResetPassword.js"></script>
<link rel="stylesheet" href="/css/login.css">