<div class="LoginRegister">
    <h1>Restore user password</h1>
    <form id="restartPasswordForm">
        <label>Email</label>
        <input name="email"><br>
        <label>Password</label>
        <input name="password">
        <button type="submit" >Send</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>
<link rel="stylesheet" href="/css/login.css">